<input type="hidden" class="no" id="message" value="<%=messages%>">
<script>
  var doc=document.getElementById('message').value;
  if(doc!=""){
    alert(doc);
  }
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-none">
    <div class="container col-lg-8 col-md-12 col-sm-12">
      <!-- ------------ left side ------------- -->
      <div
        class="collapse navbar-collapse order-lg-1 order-3 navigationMenu"
        id="navbarNav"
      >
        <ul class="navbar-nav">
          <% let menu=["home","merchandise","about","contact"]; %>
          
          <% for(let m of menu){%>
            <li class="nav-item" id="<%= m%>" >
              <% let link="/"; %>
              <% if(m!="home"){ %>
                 <% link=link.concat(m); %> 
              <% } %>   
              <% if(location==m || (m=="home" && location=="")) {%>
                <a class="nav-link menuactive" aria-current="page" href="<%=link%>"  ><%=m%></a>
              <% }else{ %>  
              <a class="nav-link" aria-current="page" href="<%=link%>" ><%=m%></a>
              <% } %> 
            </li>
          <% } %>
        </ul>
      </div>
      <!-- ------------ left side ------------- -->

      <!-- ------------ Logo and hamburger button ------------- -->
      <a class="navbar-brand order-1 me-lg-0" href="/">
        <img src="/image/logo.svg" alt="SXC merch" width="100px" />
      </a>
      <button
        class="order-2 navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".navigationMenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- ------------ Logo and hamburger button ------------- -->

      <!-- ------------ right side ------------- -->
      <div
        class="collapse navbar-collapse order-lg-3 order-4 navigationMenu"
        id="navbarNav"
      >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%if(login) {%>
              <form method="POST" action="/logout">
                <input type="hidden" name="add" class="no" value="<%=location%>">
                
                <div class="dropdown" style="margin-top: 1.4vh;">
                  <text class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <%=uName.split(" ")[0] %>    
                  </text>
                  <ul class="dropdown-menu" style="border:none;background:transparent; margin-top: -5px;" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/order">Orders</a></li>
                    <li><button type="submit" class="dropdown-item">Logout</button></li>
                  </ul>
                </div>
                <!-- <button type="submit" class="nav-link">Logout</button> -->
              </form>
            <%}else{%>
                <a class="nav-link" aria-current="page" href="#login" data-bs-toggle="modal">Login</a>
            <%}%>
          </li>
          <li class="nav-item">
            <%if(login) {%>
              <a class="nav-link signUp" style="padding: 0px;padding-top: 10px;" aria-current="page" href="/cart"><%=count %>  Cart <i class="fas fa-shopping-cart"></i></a>
            <%}else{%>
              <a class="nav-link signUp" href="#signup" data-bs-toggle="modal">SignUp</a>
            <%}%>
          </li>
        </ul>
      </div>
      <!-- ------------ right side ------------- -->
    </div>
  </nav>
  
  <section class="log" style="margin-top: 0px;">
    <div class="modal fade" id="login" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" >
      <div class="modal-dialog modal-dialog-centered rounded-0" style="max-width: 400px;">
        <div class="modal-content" style="border-radius: 10px;">
          <div class="modal-header border-0">
    
            <img src="/image/logo.svg" class="imghead" alt="">
            <button type="button" class="btn-close  " style="margin-top: -48px;" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div>
                  <form class="px-4 py-3" method="POST" action="/login">
                    <div class="mb-3">
                      <label for="exampleDropdownFormEmail1" class="form-label label">Email address</label>
                      <input type="email" class="form-control inp" id="Email1" name="Email1" placeholder="Enter your email">
                    </div>
                    <input type="hidden" name="add" class="no" value="<%=location%>">
                    <div class="mb-3 mt-5">
                      <label for="exampleDropdownFormPassword1" class="form-label label">Password</label>
                      <input type="password" class="form-control inp" id="Password1" name="Password1" placeholder="Enter your password">
                    </div>
                    <div class="text-center  mt-5">
                      <button type="submit" class="button">LOGIN</button>
                    </div>
                  </form>
                  
                  <div class="modal-body" style="text-align: right; ">
                    <a class="right" data-bs-target="#signup" data-bs-toggle="modal" data-bs-dismiss="modal">New around here? Sign up</a><br>
                    <a class="right" style="text-align: right;" data-bs-target="#forget" data-bs-toggle="modal" data-bs-dismiss="modal">Forgot password?</a>
                  </div>
                </div>
          </div>
       
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="signup" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered rounded-0" style="max-width: 400px;">
        <div class="modal-content" style="border-radius: 10px;">
          <div class="modal-header border-0">
            <img src="/image/logo.svg" class="imghead" alt="">
            <button type="button" class="btn-close  " style="margin-top: -48px;" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form class="px-4 py-3" method="POST" action="/signup">
              <input type="hidden" name="add" class="no" value="<%=location%>">
              <div class="mb-3">
                <label for="exampleDropdownName1" class="form-label label">Name</label>
                <input type="text" class="form-control inp" required id="Name" name="Name" placeholder="Enter your name">
              </div>
              <div class="mb-3 mt-4">
                <label for="exampleDropdownFormEmail1" class="form-label label">Email address</label>
                <input type="email" class="form-control inp" required id="Email" name="Email" placeholder="Enter your email">
              </div>
              <div class="mb-3 mt-4">
                <label for="exampleDropdownFormPassword1" class="form-label label">Password</label>
                <input type="password" class="form-control inp" required id="pass1" oninput="checkp('pass1');" name="Password" placeholder="Enter your password">
              </div>
              <div class="mb-3 mt-4">
                <label for="exampleDropdownFormPassword2" class="form-label label">Confirm Password</label>
                <input type="password" class="form-control inp" required id="cpass1" name="cPassword" oninput="run2function('pass1','cpass1');" placeholder="Confirm password">
              </div>
              <div class="text-center  mt-4">
                <button type="submit" class="button">SIGNUP</button>
              </div>
              <div class="modal-body mt-4" style="text-align: right; ">
                <a class="right" data-bs-target="#login" data-bs-toggle="modal" data-bs-dismiss="modal">Already a member? Log in</a><br>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    
    <div class="modal fade" id="forget" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered rounded-0" style="max-width: 400px;">
        <div class="modal-content" style="border-radius: 10px;">
          <div class="modal-header border-0">
            <img src="/image/logo.svg" class="imghead" alt="">
            <button type="button" class="btn-close  " style="margin-top: -48px;" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
              <form class="px-4 py-3" action="/login?_method=PUT" method="POST" >
                <input type="hidden" name="add" class="no" value="<%=location%>">
                <div class="mb-3">
                  <label for="exampleDropdownFormEmail1" class="form-label label">Email address</label>
                  <input type="email" class="form-control inp" id="Email2" name="Email" placeholder="Enter your email">
                </div>
                <div class="mb-3 mt-4">
                  <label for="exampleDropdownFormPassword1" class="form-label label">New Password</label>
                  <input type="password" class="form-control inp" id='pass2' oninput="checkp('pass2');" name="Password" placeholder="New password">
                </div>
                <div class="mb-3 mt-4">
                  <label for="exampleDropdownFormPassword2" class="form-label label">Confirm Password</label>
                  <input type="password" class="form-control inp" id='cpass2' oninput="run2function('pass2','cpass2');" name="cPassword" placeholder="Confirm password">
                </div>
                <div class="text-center  mt-4">
                  <button type="submit" class="button">Set Password</button>
                </div>
                <div class="modal-body mt-4" style="text-align: right; ">
                  <a class="right" data-bs-target="#login" data-bs-toggle="modal" data-bs-dismiss="modal">Log in</a><br>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
