<%- include('partials/head') %> 
<%- include('partials/adminNav') %> 

<script>
  
display_c5()

</script>
<section class="container col-lg-8 col-md-12 col-sm-12 svgContainer mb-5" style="margin-top: 60px; height: auto !important; color: white; background-color: black;">
  <div class="display-1 text-center">
    Hello Malay
  </div>
  <% for(let val in checker){ %> 
    <input type="hidden" id="<%= "count"+val%>" value="<%= checker[val] %>">
    <% } %> 
    <% for(let val in monthcheck){ %> 
      <input type="hidden" id="<%= "month"+val%>" value="<%= monthcheck[val] %>">
      <% } %>
  <div class="text-end">
    <p>Date: <%= Date1 %> </p>
    <p style="margin-top: -20px;">Time: <span style="text-transform: uppercase;" id="timeimp"><%=Time1 %></span></p>
  </div>
  <div class="text-center">
    <h4 class="display-7">Following are some stats</h4>
  </div>
  <div class="d-flex justify-content-between mt-5">
  <div class="display-6">
    Total Users: <%= users %> 
  </div>
  <div class="display-6">
    Total Orders: <%= orderCount %> 
  </div></div>
    <main>
      <!-- <div id="chart_wrap"> -->
        
        <h3 class="mt-5">Graph for Number of products sold</h3>
        <div id="chart_div" style="width: 700px; margin: 0 auto !important;"></div>
        <h3 class="mt-5">Graph for Number of orders placed</h3>
        <div id="top_x_div" style="width: 600px; margin: 0 auto;"></div>
      <!-- </div> -->
    </main>
    
    <!-- text part  -->

  </section>

  <script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {
  let countarr = [];
  for(let i=0; i<5;i++){
    let valuee = document.getElementById("count"+i).value;
    countarr.push(valuee);
  }
  // console.log(countarr);
      var data = google.visualization.arrayToDataTable([
        
        ['Products', 'Total Products',],
        ['T-shirt', parseInt(countarr[0])],
        ['Hoodie', parseInt(countarr[1])],
        ['Cap', parseInt(countarr[2])],
        ['Mask', parseInt(countarr[3])],
        ['Brooch', parseInt(countarr[4])],
      ]);

      var options = {
        title: 'Products Sold',
        titleTextStyle: {
        color: "white", 
        align: 'center'
        },
        backgroundColor: 'black',
        chartArea: {width: '50%', color: 'white', backgroundColor:'black'},
          textStyle:{color: 'red'},
        hAxis: {
          title: 'Products sold',
          titleTextStyle: {
            color: "white", 
          },
          minValue: 0,
          maxValue: 100,
          textStyle:{color: 'white'},
        },
        vAxis: {
          title: 'Products',
          titleTextStyle: {
            color: "white", 
          },
          minValue: 0,
          maxValue: 100,
          textStyle:{color: 'white'},
        },
        legend: { position: "none" },
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  

    // orders placed graph 

    google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        
        let montharr= [];
        for(let i=0; i<12;i++){
          let valuee = document.getElementById("month"+i).value;
          montharr.push(valuee);
        }
        var data = new google.visualization.arrayToDataTable([
          ['ORDERS', 'Orders Placed'],
          ["JAN", parseInt(montharr[0])],
          ["FEB", parseInt(montharr[1])],
          ["MAR", parseInt(montharr[2])],
          ["APR", parseInt(montharr[3])],
          ['MAY', parseInt(montharr[4])],
          ['JUN', parseInt(montharr[5])],
          ['JUL', parseInt(montharr[6])],
          ['AUG', parseInt(montharr[7])],
          ['SEP', parseInt(montharr[8])],
          ['OCT', parseInt(montharr[9])],
          ['NOV', parseInt(montharr[10])],
          ['DEC', parseInt(montharr[11])],
        ]);

        var options = {
        title: 'Orders Placed',
        titleTextStyle:{color: 'white',},
          backgroundColor: 'black',
          textStyle:{color: 'white'},
          chartArea: {
            width: '20%',
          backgroundColor: 'black',
            title: 'ORDERS BY MONTH', 
            color: 'white',
          },
          hAxis: {
          title: 'Orders Placed',
          textStyle:{color: 'white'},
        	},
         vAxis: {
          title: 'Number of Orders Placed',
          titleTextStyle: {
            color: "white", 
          },
          textStyle:{color: 'white'},
        	},
          bar: { groupWidth: "60%" },
          
        legend: { position: "none" },
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
  </script>
</body>