<!DOCTYPE html>
<%- include('partials/head') %> 

  <body>
    <!-- ------------ navbar ------------- -->
    <%- include('partials/nav') %> 

    <div class="container text-center col-lg-8 col-md-12 col-sm-12 mb-5 mt-4" style="border-bottom: 1px solid black;">
      <h1 class="merchheading">MERCHANDISE</h1>
    </div>
    <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
      <div class="row">
        <div class="col-sm-2" style="border-right: 1px solid black; color: #343a40;">
          <h4>Filter</h4>
          <div>
            <h5>Category</h5>
            <ul style="list-style-type: none; padding-left: 5%;" class="flex-wrap d-flex flex-lg-column flex-md-column">
             <li class="me-3"><label class="alink"><input type="checkbox" > T-shirt</label></li>
             <li class="me-3"><label class="alink"><input type="checkbox" > Hoodie</label></li>
             <li class="me-3"><label class="alink"><input type="checkbox" > Cap</label></li>
             <li class="me-3"><label class="alink"><input type="checkbox" > Mask</label></li>
             <li class="me-3"><label class="alink"><input type="checkbox" > Brooch</label></li>
            </ul>
          </div>
          <div>
            <h5>Price</h5>
            <ul style="list-style-type: none; padding-left: 5%;" class="flex-wrap d-flex flex-lg-column flex-md-column">
            <li class="me-3"><label class="alink"><input type="checkbox" > Under ₹100</label></li>
            <li class="me-3"><label class="alink"><input type="checkbox" > ₹100 - ₹500</label></li>
            <li class="me-3"><label class="alink"><input type="checkbox" > Over ₹500</label></li>
          </ul>
          </div>
          <button class="nav-link signUp mb-5">Apply</button>
        </div>
        <div class="col-sm-10" >
          <div class="row">
            <% for(let product of products) { %> 
            <div class="col-sm-6 col-xl-4 mb-4 ms-0">
              <!-- card body -->
              <div class="card h-100" style="border-radius: 20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <img class="card-img-top p-3" style="border-radius: 40px" src="<%= product.pImage %> " alt="Card image cap">
                <div class="card-body" style="border-radius: 20%;">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title" style="font-size: 105%;"><%= product.pName %> </h4>
                  <h5 class="card-text fw-bold text-end;"> ₹<%= product.pPrice %>  </h5>
                  </div>
                  
                  <p class="card-text" style="font-size: 80%;"> <%= product.pDescription %> </p>

                  <div class="boxed d-flex justify-content-between pe-3 ps-3">
                    <input type="radio" id="xs" name="skills" value="xs">
                    <label for="xs">xs</label>
                  
                    <input type="radio" id="s" name="skills" value="iOS Development">
                    <label for="s">s</label>
                    
                     <input type="radio" id="m" name="skills" value="m">
                    <label for="m">m</label>
                  
                     <input type="radio" id="l" name="skills" value="l">
                    <label for="l">l</label>
                  
                     <input type="radio" id="xl" name="skills" value="xl">
                    <label for="xl">xl</label>
                  </div>
                  

                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    <form class=" d-flex justify-content-between" action="/cart/<%=product._id %> " method="POST">
                      <button type="submit" class="buyNow">Buy Now</button>
                      <button type="submit" class="Cart w-50"><i class="fas fa-shopping-cart"></i> Cart</button>
                    </form></small>
                </div>
              </div>

            </div>
            <% } %> 
            </div>

          </div>
        </div>
    </div>
    <!-- ------------ navbar ------------- -->
    <%- include('partials/footer') %> 
    
    </script>
  </body>
</html>

<!-- <div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div> -->