<%- include('partials/head') %>
<body>
  <%- include('partials/adminNav') %>

  <div class="navbar navbar-expand-lg navbar-light bg-none">
    <div class="container col-lg-8 col-md-12 col-sm-12">
      <table class="table text-center table-dark table-hover" id="userData">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Message</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% let i=0; %> 
          <% for(let data of contactData) { %>
          <tr style="vertical-align: middle">
            <th scope="row"><%=i+1 %> </th>
            <td><%=data.Name %></td>
            <td><%=data.Message %></td>
            <td><a href= <%="mailto:"+data.Email1 %> target="_blank" class="btn btn-default btn-sm" style="color: white"><i class="far fa-envelope"></i></a></td>
            <form action="/message/<%= data._id %>?_method=DELETE" method="POST">
                <td><button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash trash"></i> Delete</button>
              </td>
              </form>
          </tr>
          <% i++;} %> 
        </tbody>
      </table>
      <input type="button" class="btn btn-success" onclick="exportData()" value="Export" style="position: absolute; top:100%" />
    </div>
  </div>
  
  <script type="text/javascript">
    function exportData() {
      let data = document.getElementById("userData");
      var fp = XLSX.utils.table_to_book(data, { sheet: "user data" });
      XLSX.write(fp, {
        bookType: "xlsx",
        type: "base64",
      });
      XLSX.writeFile(fp, "userdata.xlsx");
    }
  </script>
</body>
