
<!DOCTYPE html>
<%- include('partials/head') %> 

  <body>
    <!-- ------------ navbar ------------- -->
    <!-- heading  -->
    <%- include('partials/nav',{location: "order"}) %> 
    <%- include('partials/scrollToTop')%> 
    <div class="container text-center col-lg-8 col-md-12 col-sm-12 mb-5 mt-4" style="border-bottom: 1px solid black;">
      <h1 class="merchheading">ORDERS</h1>
    </div>

    <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
      <div class="row">
        <div class="col-sm-12 col-lg-12" style="color: #343a40;">
          <% let i=0; %> 
          <% for(let arr of arrayy) { %> 
            
          <div class="card mb-3 col-sm-12" style="border-radius: 20px; max-width: 100%; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
            <div class="row g-0">
              <div class="col-md-4" style="padding: 20px;">
                <img style="border-radius: 15%;" src="<%= arr[0].pImage %> " class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body text-start">
                  <div class="d-flex justify-content-between">
                    <% if(cartItem[i].Size =='') {%>
                      <h5 class="card-title"><%= arr[0].pName %></h5>
                      <% }else{ %>  
                      <h5 class="card-title"><%= arr[0].pName %>(<%= cartItem[i].Size %>)</h5>
                    <% } %> 
                      <p class="mt-1 fw-bold" style="font-size: 22px;">₹<%= arr[0].pPrice %> </p>
                  </div>
                  <p class="card-text"><%= arr[0].pDescription %> </p> 
                  
                  <div class="d-flex justify-content-between">
                    <form class="col-8 d-flex justify-content-evenly align-items-center" action="/cart/<%= arr[0]._id %>?_method=PUT" method="POST">  
                      <label id="qtyLabel" for="Quantity">Qty</label>
                  <select name="Quantity" class="w-25" id="qty">
                    <%for(let no of [1,2,3,4,5,6,7,8,9]){%>
                      <% if(no==cartItem[i].Quantity){ %> 
                        <option value="<%=no%> " selected><%=no %> </option>
                      <% }else{ %> 
                        <option value="<%=no%> " ><%=no %> </option>
                        <% } %> 
                    <% } %> 
                  </select>
                  <input type="hidden" name="hiddensize" id="hiddensize" value="<%= cartItem[i].Size %>">
                  <button type="submit" class="btn btn-light updateButton">update <i class="fas fa-redo-alt" style="font-size: 80%;"></i></button>
                  </form>
                  <form action="/cart/<%= arr[0]._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-light trashButton"><i class="fas fa-trash trash"></i></button>
                  </form>
                </div>
                  
                  
                  <p class="mt-4 fw-bold" style="font-size: 22px;">Total: ₹<%= arr[0].pPrice*cartItem[i].Quantity %> </p>
                </div>
              </div>
            </div>
          </div>
          <% i++;} %> 
        </div>
        </div>
        </div>
    <%- include('partials/footer') %> 
  
  </body>
</html>